<!DOCTYPE html>
<html>
  <head>
    <script src="../jquery/jquery.js"></script>
    <script src="../jquery/interface.js"></script>
    <link rel="stylesheet" href="../public/reset.css" />
    <link rel="stylesheet" href="../public/css/style.css" />
    <script src="../src/thermostat.js"></script>
    <meta charset="utf-8">
    <title>Thermostat</title>

  </head>

  <body>

    <div class="thermostat">

      <div class="screen">

        <div class="temperature">
          20 °C
        </div>

        <div class="power_saving">
          Power Saving On/Off
        </div>

        <div class="usage">
          Low Usage
        </div>

      </div>

      <div class="temp_change">

        <div class="up">
          <button type="button" name="up"></button>
        </div>

        <div class="down">
          <button type="button" name="down"></button>
        </div>

      </div>

      <div class="buttons">

        <div class="eco">
          eco button
        </div>

        <div class="reset">
          reset button
        </div>

        <div class="power">
          power button
        </div> -->

      </div>

    </div>
  </body>
</html>

<!-- img src="http://s18.postimg.org/nwgb93zc9/down.png" -->
<!-- src="http://image.flaticon.com/icons/svg/56/56690.svg" -->
